<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".MainActivity" android:label="Dieter task capture" />
        <activity android:name="com.dbpprt.dieter.fixtures.CaptureAlternativeActivity"
            android:exported="true" android:label="Capture test alternative">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/png" />
            </intent-filter>
        </activity>
        <activity android:name="com.dbpprt.dieter.fixtures.CaptureShareActivity" android:exported="false" />
        <service android:name="com.dbpprt.dieter.fixtures.CaptureRecoveryService"
            android:exported="false" android:process=":captureRecovery" />
        <provider android:name="com.dbpprt.dieter.fixtures.CaptureFixtureProvider"
            android:authorities="${applicationId}.capture-fixture"
            android:exported="false" android:grantUriPermissions="true" />
    </application>
</manifest>
