<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service android:name="com.dbpprt.dieter.screens.DockedTestIme"
            android:label="Dieter test keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/docked_test_ime" />
        </service>
    </application>
</manifest>
